<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2026-06-09T23:29:38Z</date>
	<key>WorkspacePath</key>
	<string>/Users/t.nemchinova/Desktop/2/222/222 4/222.xcodeproj</string>
</dict>
</plist>
